<h1>Update User Role</h1>

<%=form_for @user do |f| %>
  <div class="field">
    <%=f.label :email %><br>
    <%=f.text_field :email %>
  </div><br>

  <div class="field">
    <%=f.label :admin%><br>
    <%= f.select :admin, options_for_select([[true], [false]], params[:admin]) %>

  </div><br>
  <div class="actions">
    <%=f.submit%>
  </div>
<% end %>
