<!DOCTYPE html>
<html>
<head>
  <title>Stack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:alert] %>
  <%= flash[:notice] %>

  <div class="container">
    <div class="row">
      <h2 class="page-header text-center">
        <%= link_to 'Stack Home', "/" %>
      </h2>

      <div class="col-sm-6 col-sm-offset-3">
        <%= yield %>
      </div>

    </div>
  </div>

</body>
</html>
